body{
font-family: 'Roboto', sans-serif;
background: #ffffff;
}
.col span,
.col a {
margin-right: 10px;
}
.weather-news {
position: relative;
animation: slide 20s linear infinite;
}
@keyframes slide {
0% {
transform: translateX(-90%);
}
100% {
transform: translateX(100%);
}
}
.temperature.ltr::after {
content: ' \2103';
}
.feels-like.ltr::after {
content: ' \2103';
}
.pressure.ltr::after{
content: ' hPa';
}
.humidity.ltr::after{
content: '%';
}
.wind-speed.ltr::after{
content: 'm/s';
}
.imageicon{
height: 2rem;
}
.maparea{
margin-left: 2%;
margin-right: 2%;
text-align: end;
right: 0;
}
.maparea iframe {
transition: transform 0.5s ease;
}
.maparea iframe:hover {
transform: scale(1.1);
}
img.rounded-end-4-ltr {
border-top-right-radius: 1rem !important;
border-bottom-right-radius: 1rem !important;
}
@media (max-width: 767px) {
.container-fluid.text-center.overflow-hidden.shadow-sm.rounded-bottom {
font-size: x-small;
padding: 10px;
border-radius: 0;
}
.sr-only,.carousel-indicators{
display: none;
}
.imageicon{
width: 2rem;
height: 100%;
}
.weather-news {
text-align: center;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
white-space: nowrap;
}
.weathericon img {
height: 50px;
width: 50px;
margin-top: -10px;
}
.carousel-caption{
bottom: -15%;
}
.carousel-caption p, .carousel-caption h6{
font-size: small;
}
}
@media (max-width: 1000px) and (orientation: landscape) {
a[data-i18n="weather_forecast"]{
font-size: small;
}
.sr-only{
display: none;
}
.imageicon{
width: 2rem;
height: 100%;
}
}