
/* Roboto Font */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
}

body{
    font-family: 'Roboto', sans-serif;
    background: #e5e5e5;
}

.col span,
.col a {
    margin-right: 10px;
}
.container-fluid{
    height: 80px;
    margin-top: -15px;
}

.weather-news {
    position: relative;
    animation: slide 20s linear infinite;
}
@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.ltr::after {
    content: ' \2103';
}

.more-description{
    margin-top: -15px;
}

@media (max-width: 767px) {
    .container-fluid.text-center.py-3.overflow-hidden.shadow-sm.rounded-bottom {
        height:60px;
        font-size: x-small;
        padding: 10px; 
        border-radius: 0;
    }
    .more-description{
        margin-top: -20px;
    }
    
    .weather-news {
        margin-top: 10px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        white-space: nowrap;
    }
    
    .weather-news span {
        margin-bottom: 5px;
    }
    .weathericon img {
    margin-top: -10px;
    }
}
